# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# components
# Navbar.jsx
# NavbarMd.jsx
# NavbarMdList.jsx
# NavbarSm.jsx
# NavbarSmList.jsx
# projectItem.jsx
# Hero.jsx
# Education.jsx
# About.jsx
# EducationItem.jsx
# Section.jsx
script
# Skills.jsx
# Deployments.jsx
# OperatingSystems.jsx
# SkillsTechnologies.jsx
# ToolsSoftwares.jsx
# Languages.jsx

# Reviews
# Review.jsx
ReviewItem.jsx
Footer.jsx